*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.slider {
    /* width: 100%; */
    /* min-width: 500px; */
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    background-color: #eeede7;
}

.slider__images {
    /* display: flex;
    flex-direction: column;
    align-items:center; */
}

.slider__images img {
    width: 90%;
    height: 70%;
 
}

.slider__control {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}